{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>LETSBLOG</title>
    {% load static %}
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
<!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'owl.css' %}">
    <script src="https://use.fontawesome.com/9b269d5d9a.js"></script>

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <!--<div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  -->
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>LETSBLOG</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/user/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/user/afterlogin/">Blog</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/user/login/">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/user/signup/">Signup</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading about-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>about us</h4>
              <h2>Let's Blog</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our Background</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="{% static 'write.jpg'%}" style="height:350px;" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Who we are &amp; What we do?</h4>
              <p> LETSBLOG is one of the World's Most famous blogging web application 
                .Any one Can express their thought on this platform.<br>Blogs today have become an essential part and 
                are needed for most of the generation worldwide.Whether one needs advice, needs to share a personal 
                experience, be aware of the views on any topic, all one needs is to gear up and punch in a few keys
                 and write a blog. 
                 <br>LETSBLOG  makes it easy for you to start your own blog. This website is perfect 
                for personal blogging.
                
               <br> It gives our users a platform where they can develop a number of transferable skills needed
                 to succeed in a professional setting.
                 Users can find readers who might admire your workpiece and also give your confidence a boost.</p>
              <ul class="social-icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    
<!--    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Founder</h2>
            </div>
          </div>-->
         
        <!--  <div class="col-md-4">
            <div class="team-member">
              <div class="thumb-container">
                <!--<img src="{% static 'shobhit.jpeg'%}"  style="height:350px;" alt="">-->
                <div class="hover-effect">
                  <div class="hover-content">
                    <ul class="social-icons">
                      <li><a href="https://m.facebook.com/shobhit.gupta.50702?ref=bookmarks"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="https://www.linkedin.com/in/shobhit-gupta-024b23186/"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="https://www.instagram.com/shobhit8838/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>-->
            <!--  <div class="down-content">
                <h4>Shobhit Gupta</h4>
                <span>Shobhit290999@gmail.com</span>
                <p>Experience that makes the man</p>
              </div>
            </div>
          </div>-->
         
     <!--   </div>
      </div>
    </div> -->


    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="service-item">
              <div class="icon">
                <i class="fa fa-gear"></i>
              </div>
              <div class="down-content">
                <h4>services</h4>
                <p>LETSBLOG  makes it easy for you to start your own blog. This website is perfect 
                  for personal blogging.
                  </p>
                <a href="/user/login/" class="filled-button">Let's blog</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <div class="icon">
                <i class="fa fa-gear"></i>
              </div>
              <div class="down-content">
                <h4>Objective</h4>
                <p>Aim is to connect everyone through our platform so that one can express their views </p>
                <a href="/user/login/" class="filled-button">Let's blog</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <div class="icon">
                <i class="fa fa-gear"></i>
              </div>
              <div class="down-content">
                <h4>Customer Relations</h4>
                <p>platform is to create good relation between users from different places & ideas to let them grow together.</p>
                <a href="/user/login/" class="filled-button">Lets blog</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2020 LETSBLOG
            
            <a rel="nofollow noopener" href="#" target="_blank"></a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'custom.js' %}"></script>
    <script src="{% static 'owl.js' %}"></script>
    <script src="{% static 'slick.js' %}"></script>

    <script src="{% static 'isotope.js' %}"></script>

    <script src="{% static 'accordions.js' %}"></script>






    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>


  </body>

</html>
